<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://geoip.centminmod.com/imgs/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="https://geoip.centminmod.com/imgs/favicon.png">
<title>geoip.centminmod.com</title>
<style>
h2 {
  font-size: 1.2rem;
}
</style>
</head>
<body style="margin:10px;">
  {% block content %}{% endblock %}
  <hr>
  <font style='font-size:95%;'>
  <h2>Usage</h2>
  <ul>
    <li>See information of your IP: <a href="https://geoip.centminmod.com/">https://geoip.centminmod.com/</a></li>
    <li>See information of IP 8.8.8.8: <a href="https://geoip.centminmod.com/8.8.8.8">https://geoip.centminmod.com/8.8.8.8</a></li>
    <li>Get JSON with information of your IP: <a href="https://geoip.centminmod.com/api/v1.0/ip/">https://geoip.centminmod.com/api/v1.0/ip/</a></li>
    <li>Get JSON with information of IP 8.8.8.8: <a href="https://geoip.centminmod.com/api/v1.0/ip/8.8.8.8">https://geoip.centminmod.com/api/v1.0/ip/8.8.8.8</a></li>
    <li>Short url to get JSON with info for your IP: <a href="https://geoip.centminmod.com/json/">https://geoip.centminmod.com/json/</a></li>
    <li>Short url to get JSON with info for IP 8.8.8.8: <a href="https://geoip.centminmod.com/json/8.8.8.8">https://geoip.centminmod.com/json/8.8.8.8</a></li>
  </ul>
  <h2>Credits</h2>
  <ul>
    <li><a href="https://upcloud.com/signup/?promo=DPY36J">Hosted on Upcloud.com KVM VPS</a> using <a href="https://centminmod.com">Centmin Mod LEMP Stack</a></li>
    <li>We use GeoLite2 data created by <a href="http://www.maxmind.com" target="_blank">MaxMind</a> (updated {{ results['geoip_DB_MTime'] }}).</li>
  </ul>
  </font>
    </body>
</html>
