<!DOCTYPE html>
<html lang="en">
<head>
<title>geoip.centminmod.com</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preload" href="https://geoip.centminmod.com/imgs/mybootstrap.css" as="style">
<link rel="stylesheet" href="https://geoip.centminmod.com/imgs/mybootstrap.css">
<link rel="shortcut icon" href="https://geoip.centminmod.com/imgs/favicon.png">
<style>
h2 {
  font-size: 1.2rem;
}
</style>
</head>
<body style="margin:10px;">
  {% block content %}{% endblock %}
  <hr>
  <font style='font-size:95%;'>
  <h2>Usage</h2>
  <ul>
    <li>Geo IP information: <a href="https://geoip.centminmod.com/">https://geoip.centminmod.com/</a></li>
    <li>Geo IP information for IP 8.8.8.8: <a href="https://geoip.centminmod.com/8.8.8.8">https://geoip.centminmod.com/8.8.8.8</a></li>
    <li>JSON format: <a href="https://geoip.centminmod.com/json/">https://geoip.centminmod.com/json/</a></li>
    <li>JSON format: <a href="https://geoip.centminmod.com/json/8.8.8.8">https://geoip.centminmod.com/json/8.8.8.8</a></li>
  </ul>
  <h2>Credits</h2>
  <ul>
    <li><a href="https://upcloud.com/signup/?promo=DPY36J">Hosted on Upcloud.com KVM VPS</a> using <a href="https://centminmod.com">Centmin Mod LEMP Stack</a></li>
    <li>Using GeoLite2 database by <a href="http://www.maxmind.com" target="_blank">MaxMind</a> (updated {{ results['geoip_DB_MTime'] }}).</li>
  </ul>
  </font>
  <a href="https://upcloud.com/signup/?promo=DPY36J">
    <img src="/imgs/upcloud/upcloud-468.png" width="468" height="79" alt="Upcloud KVM VPS">
  </a>
    </body>
</html>
